.NGABANNER{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.NGANEWSBANNER{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: x-large;
}

.NGAWELCOME{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.NGATEAMS{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ARTICLETITLE{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.ARTICLEDESCRIPTION{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
}

.ARTICLECARD{
    border: 1px solid #bbbbbb;
}

.card-footer{
    background-color: #bbbbbb;
    text-align: center;
    padding: 0.3rem;
}

.ARTICLEBUTTON{
    background-color: #bbbbbb;
    border: none;
    color: black;
    transition: background-color 0.5s ease;
    padding: 0.3rem 7rem;
}

.ARTICLEBUTTON:hover{
    background-color: #868686;
}

.TEAMSBUTTON{
    background: #dddbdb;
    border: none;
    color: black;
    padding: 0.3rem 7rem;
}

.TEAMSBUTTON:hover{
    background-color: #868686;
}

.ARTICLEHEADER{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #e2e2e2;
    padding: 10px;
}

.ARTICLEMAINPHOTO:hover{
    transform: scale(1.1);
}

.ARTICLEMAINPHOTO{
transition: transform 0.4s ease;
}

.ARTICLECONTENT{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ARTICLEAUTHOR{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.schedule-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 8px;
}

.schedule-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.schedule-header h1{
    font-size: 50px;
}

.schedule-table thead {
    background-color: #f8981e;
    color: #000000;
}

.schedule-table th,
.schedule-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #a7a7a7;
}

.schedule-table tbody tr:hover {
    background-color: #f1f1f1;
}
