{% extends "base.html" %}
{% block title %}Article2{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/img" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/assets/main.css" />
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1 ARTICLEHEADER">2024 NGA TEAM DRAFTS</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2 ARTICLEAUTHOR">Posted on May 8, 2024 by Ira Barrelboot Dinglebottom II Abesamis</div>
                        </header>
                        <!-- Preview image figure-->
                        <p class="fs-5 mb-4"></p>
                        <figure class="mb-4"><img class="img-fluid rounded ARTICLEMAINPHOTO" src="static/assets/img/2024NGADRAFTLOGOBLACK.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5 ARTICLECONTENT">
                            <p class="fs-5 mb-4">Prior to the beginning of the season the NGA held a small draft class to bring new life to that team to help them push to a championship run. These 3 draftees are some of the greatest drafted in recent time and it is hoped that the club can help them to develop and eventually start a future NGA dynasty.</p>
                            <p class="fs-5 mb-4"><h2><b>#1 Draft Pick Luke Demetrius Jr</b></h2></p>
                            <figure class="mb-4"><img class="img-fluid rounded" src="static/assets/img/Draftpick1.png" alt="Photo of #1 Draft Pick Luke Demetrius Jr" /></figure>
                            <p class="fs-5 mb-4">Luke Demetrius Jr is an explosive two-way slashing power forward that brings relentless offense and lockdown defense for the NGA. Not only can he finish through tough drives, but he can also post-up and bully in the paint, and has a reliable jumper that allows him to shoot 39% from beyond the arc. In his previous season he averaged 21.2 PTS 12.6 REB 5.8 AST. It is expected that he takes another jump this season and becomes a large contributer for the NGA.</p>
                            <p class="fs-5 mb-4"><h2><b>#2 Draft Pick Treshaun Thyrone Tyrone Thyrese Tyrese Gametes</b></h2></p>
                            <figure class="mb-4"><img class="img-fluid rounded" src="static/assets/img/Draftpick2.png" alt="Photo of #2 Draft Pick Thyrone Tyrone Thyrese Tyrese Gametes" /></figure>
                            <p class="fs-5 mb-4">Treshaun Thyrone Tyrone Thyrese Tyrese Gametes is a diming shot creating floor general that can turn any offense elite and distinguish, deconstruct, and destroy any defense. He can fulfill the role of a pass first floor general that can get any teammate an open shot and make the opponents worry about about having to play defense. However, his biggest threat is his ability to also be a shot creating threat on all 3 levels of the floor. He can create space between any opponent to give himself an open 3, make tough shots in the mid-range, and athletically finish againt any defender. His biggest struggles are in defending, especially against larger and or stronger opponents but his offensive value makes up for this tenfold. In his previous season he averaged 27.4 PTS 14.6 AST 1.5 STL.</p>
                            <figure class="mb-4"><img class="img-fluid rounded" src="static/assets/img/Draftpick3.png" alt="Photo of #2 Draft Pick Thyrone Tyrone Thyrese Tyrese Gametes" /></figure>
                            <p class="fs-5 mb-4"><h2><b>#3 Draft Pick Tiger Tefifi Kologamiti</b></h2></p>
                            <p class="fs-5 mb-4">Tiger Tefifi Kologamiti is pure lockdown center that ensures not a single person can even get a chance to score. He brings some scoring to the other end but for the most part all of his skills lie in being the defensive anchor on the team and making the other team scared to score on any level of the floor. Not only is he big enough to block any short, strong enough to lockdown and bully any opponent, but he is athletic enough to keep up and stop the most shifty attackers. In his last season he scored 10.4 PTS 15.1 REB and 3.2 BLK.</p>
                        </section>
                    </article>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;NGA 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>{% endblock %}