{% extends "base.html" %}
{% block title %}Article3{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/img" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/assets/main.css" />
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1 ARTICLEHEADER">UNSTOPPABLE ROOKIE GUARD</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2 ARTICLEAUTHOR">Posted on May 14, 2024 by Ira Quandavious Dingle</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded ARTICLEMAINPHOTO" src="static/assets/img/NGAARTICLEPHOTO3.jpg" alt="Rookie guard TreShaun Gamit making a fadeaway shot." /></figure>
                        <!-- Post content-->
                        <section class="mb-5 ARTICLECONTENT">
                            <p class="fs-5 mb-4">It's rare to see a rookie make a significant impact for a new team right out of the gate. Yet, Treshaun Gamit, the fresh-faced guard for the NGA, is defying the odds and made headlines with his electrifying performances on his first game on the court. Known for his scoring prowess, Gamete did not dissapoint this game leading the team in all facets of offense.</p>
                            <p class="fs-5 mb-4">In his debut game for NGA he would drop an impressive 33 PTS, 10 AST, and 3 STL. it was clear that Treshaun would be a star for this team. He showed how refined his offensive skills to an edge as he would effortlessly . This remarkable scoring average places him among the top draftee scorers in the team's history.</p>
                        </section>
                    </article>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;NGA 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}