{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/img" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/assets/main.css"/>
    </head>
    <body>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/ngalogo.png" alt="NGA Logo" /></div>
                <div class="col-lg-5">
                    <p1><h1><b>Welcome to the NGA LEAGUE!</b></h1></p1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <a class="btn btn-primary" href="#!">Call to Action!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"><b>Draftees prove themselves.</b></h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/posterize1.png"/>
                            <p class="card-text">2024 draftees explode onto the league with force! Check out the stats of the rookies in their first NGA season game.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">2024 NGA Draft Results: Picks 1-5</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/Draftpick1.png"/>
                            <p class="card-text">The 2024 NGA draft is projected to have the most stars out of any NGA draft of all time and here are the top 5 picks in the whole draft. NGA analyst say these 5 players could become the future superstars of the league. </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/article1">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Three</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/ngalogo.png"/>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}