{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/img" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/assets/main.css"/>
    </head>
    <body>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/banner.png" alt="NGA banner" /></div>
                <div class="col-lg-5">
                    <div class="NGABANNER"><p1><h1><b>Welcome to the NGA Club</b></h1></p1></div>
                    <div class="NGAWELCOME"><h2>SEE ALL THE SCORES, SCHEDULES, EVENTS, AND TRENDINGS NEWS ALL HERE, IN ONE PLACE.</h2></div>
                    <div class="NGATEAMS"><a class="btn btn-primary TEAMSBUTTON" href="#!"><b>GAMES</b></a></div>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-black bg-secondary my-5 py-4 text-center">
                <div class="NGANEWSBANNER"><p class="text-white m-0">ALL THE LATEST NGA NEWS HERE</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-5 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100 ARTICLECARD">
                        <div class="card-body">
                            <div class="ARTICLETITLE"><h2>UNSTOPPABLE ROOKIE GUARD</h2></div>
                            <img class="img-fluid rounded mb-4 mb-lg-5" src="static/assets/img/posterize1.png"/>
                            <div class="ARTICLEDESCRIPTION"><p class="card-text"><b>
                                #2 Pick TreShaun Gamit leads the team in scoring, dazzling fans and critics alike with his explosive athleticism, sharp shooting, and relentless drive, making him a strong contender for Rookie of the Year.</b></p></div>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm ARTICLEBUTTON" href="/article3">SEE MORE</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 ARTICLECARD">
                        <div class="card-body">
                            <h2 class="ARTICLETITLE">2024 NGA TEAM DRAFTS</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-5" src="static/assets/img/Draftpick1.png"/>
                            <div class="ARTICLEDESCRIPTION"><p class="card-text"><b>
                                The members drafted in 2024 is projected have some of the most potential out of all of the drafts. The expectations are high for these draftees as they all have a potential future of stardom.</b></p></div>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm ARTICLEBUTTON" href="/article2">SEE MORE</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100 ARTICLECARD">
                        <div class="card-body">
                            <h2 class="ARTICLETITLE">2024 NGA SEASON BEGINS</h2>
                            <img class="img-fluid rounded mb-4 mb-lg-5" src="static/assets/img/ngalogo2.png"/>
                            <div class="ARTICLEDESCRIPTION"><p class="card-text"><b>
                                With a fresh season the teams expectations are at an all time high. Check key dates and breaking news before the season begins.</b></p></div>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm ARTICLEBUTTON" href="/article1">SEE MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; NGA 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}