{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/img" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="static/assets/main.css"/>
    </head>
    <body>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/banner.png" alt="NGA banner" /></div>
                <div class="col-lg-5">
                    <p1><h1><b>Welcome to the NGA LEAGUE</b></h1></p1>
                    <b><h1>SEE ALL THE GAME HIGHLIGHTS, SCHEDULES, TEAMS, AND TRENDINGS NEWS ALL HERE, IN ONE PLACE.</h1></b>
                    <a class="btn btn-primary" href="#!">TEAMS</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0"><b>ALL THE LATEST NGA NEWS, GAMES, HIGHLIGHTS, AND EVERYTHING ELSE HERE</b></p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"><b>Draftees prove themselves</b></h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/posterize1.png"/>
                            <p class="card-text">2024 NGA draftees show their pure domiantion on the court. Check out the stats, highlights, and games of the top rookies here.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"><b>2024 NGA Draft Results: Picks 1-5</b></h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/Draftpick1.png"/>
                            <p class="card-text">The 2024 NGA draft is projected to have the most stars out of any NGA draft of all time and here are the top 5 picks in the whole draft. NGA analysts say these 5 players could become the future superstars of the league. </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="/article1">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title"><b>2024 NGA SEASON BEGINS</b></h2>
                            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/assets/img/ngalogo.png"/>
                            <p class="card-text">With a fresh season for all the teams the expectations are at an all time high. Along with the conclusion of the draft lottery check the latest news and occurences of the teams today here.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock %}