{% extends "base.html" %}
{% block title %}Article1{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Game Schedule</title>
    <link rel="stylesheet" href="static/assets/main.css" />
</head>
<body>
    <div class="schedule-container">
        <header class="schedule-header">
            <h1><b>GAME SCHEDULE</b></h1>
        </header>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Location</th>
                    <th>Score</th>
                    <th>L/W</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-05-13</td>
                    <td>New Generation Athletes</td>
                    <td>U17B Mako</td>
                    <td>New Generation Gym</td>
                    <td>121-43</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-05-20</td>
                    <td>New Generation Athletes</td>
                    <td>U5 Baby Mako</td>
                    <td>New Generation Gym</td>
                    <td>99-2</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-05-27</td>
                    <td>U50 Grandpa Mako</td>
                    <td>New Generation Athletes</td>
                    <td>Bruce Pulman Arena</td>
                    <td>101-104</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-05-31</td>
                    <td>Undertime Elite</td>
                    <td>New Generation Athletes</td>
                    <td>UTE Development Gym</td>
                    <td>98-122</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-06-03</td>
                    <td>New Generation Athletes</td>
                    <td>Duke Red Devils</td>
                    <td>New Generation Gym</td>
                    <td>105-97</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-06-10</td>
                    <td>New Generation Athletes</td>
                    <td>UCON Wolves</td>
                    <td>New Generation Gym</td>
                    <td>102-56</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-06-17</td>
                    <td>Scryacruse Yellow</td>
                    <td>New Generation Athletes</td>
                    <td>Syracuse Yellow Arena</td>
                    <td>87-95</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-06-24</td>
                    <td>UCLB Bears</td>
                    <td>New Generation Athletes</td>
                    <td>UCLB Sports Arena</td>
                    <td>56-72</td>
                    <td><b>W</b></td>
                </tr>
                <tr>
                    <td>2024-07-01</td>
                    <td>Undertime Elite</td>
                    <td>New Generation Athletes</td>
                    <td>UTE Development Arena</td>
                    <td>TBA</td>
                    <td><b>TBA</b></td>
                </tr>
            

                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}